{% extends 'blog/base.html' %}

{% block content %}
<div class="row mb-4">
    <div class="col">
        <h1 class="display-5">My Personal Blog</h1>
    </div>
    <div class="col text-end">
        <a href="{% url 'post-create' %}" class="btn btn-primary">Create New Post</a>
    </div>
</div>

<div class="row">
    {% for post in posts %}
    <div class="col-md-6 mb-4">
        <div class="content-section">
            <h2>
                <a href="{% url 'post-detail' post.pk %}">{{ post.title }}</a>
            </h2>
            <p>{{ post.content }}</p>
            <div class="d-flex justify-content align-items-center">
                <small>{{ post.created_at }}</small>
                <div class="btn-group">
                    <a href="{% url 'post-update' post.pk %}" class="btn btn-small btn-online-secondary">Edit</a>
                    <a href="{% url 'post-delete' post.pk %}" class="btn btn-small btn-online-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>    
    {% endfor %}
</div>

{% endblock %}