{% extends 'blog/base.html' %}

{% block content %}
<div class="content-section">
    <h1 class="mb-4">New Post</h1>
    <form action="POST">
        {% csrf_token %}
        {% for field in form %}
            <div class="mb-3">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% if field.name == 'content' %}
                    <textarea name="{{ field.name }}" class="form-control">{{ field.value }}</textarea>
                {% else %}
                    <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" value="{{ field.value }}"> 
                {% endif %}

            </div>
        {% endfor %}
        <div>
            <button type="submit" class="btn btn-primary">Save Post</button>
            <a href="{% url 'home' %}" class="btn btn-primary">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}